---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Mathis Beugnet" description="A propos de Mathis Beugnet">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci de votre visite. Veuillez lire le contenu ci-dessous pour en savoir plus sur moi et sur mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Mathis Beugnet au travail"
				/>
			</Hero>

			<section>
				<div class="section-title-wrapper">
					<h2 class="section-title">À propos <br>de moi</h2>
				</div>
				<div class="content">
					<p>
						Bonjour, je m’appelle Mathis Beugnet et j'ai 19 ans. Je suis actuellement étudiant
						dans le domaine du développement web et développement d'application. 
						<br>Je suis quelqu’un de déterminé et curieux qui aime apprendre et travailler en équipe. 
						J’aime relever des défis, trouver des solutions, et progresser un peu plus chaque jour. 
						<br>Mon objectif aujourd’hui est de trouver une entreprise où je pourrai continuer à apprendre, développer mes compétences, et m’intégrer dans une équipe dynamique et bienveillante.
					</p>
				</div>
				
			</section>
			<section>
				<div class="section-title-wrapper">
					<h2 class="section-title">Parcours</h2>
				</div>
				<div class="content">
					<p>
						J'ai obtenu un Baccalauréat Général avec les spécialités Mathématiques et NSI (Numérique et Sciences Informatiques), 
      					ce qui m’a permis de développer une première approche de la logique et de la programmation. 
      					Actuellement, je poursuis mes études en BTS SIO (Services Informatiques aux Organisations), option SLAM (Solutions Logicielles et Applications Métiers)
					</p>
				</div>
			</section>
			<section>
				<div class="section-title-wrapper">
					<h2 class="section-title">Scolarité</h2>
				</div>
				<div class="content">
					<p>
						J'étudie en BTS SIO, option SLAM, 
						où j’approfondis mes compétences en développement, en gestion de projets, et en conception d’applications. 
						Cela fait suite à mon Baccalauréat Général avec les spécialités Mathématiques et NSI.  
						Durant ce BTS, je travaille sur plusieurs projets concrets comme la création d’applications et de site web, 
						la mise en place de bases de données. 
						Je souhaite continuer à évoluer dans le monde du développement, en apportant des solutions innovantes et efficaces, 
						tout en intégrant une équipe dynamique et collaborative.
					</p>
				</div>
			</section>
			<section>
				<div class="section-title-wrapper">
					<h2 class="section-title">Compétences</h2>
				</div>
				<div class="content">
					<p>
						Je possède des compétences en bases de données, développement web et création d’applications. J’utilise plusieurs langages et outils comme SQL, HTML, CSS, PHP, JavaScript, et C#. Je connais aussi les méthodes de modélisation comme UML et Merise.
						Je suis familier avec la gestion de projets grâce à des outils comme Trello et Git, ainsi qu’avec la mise en place de serveurs et la gestion des systèmes sous Windows et Linux. 
						Enfin, je suis sensibilisé à la cybersécurité grâce à la certification Secnum.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.section-title-wrapper {
	display: flex;
	align-items: center; /* Centre verticalement */
	justify-content: flex-start; /* ou center pour horizontal aussi */
	height: 100%; /* prend toute la hauteur du grid-row */
	grid-column-start: 1;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
