---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Mathis Beugnet" description="A propos de Mathis Beugnet">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci de votre visite. Découvrez mon parcours et mes compétences."
			>
			</Hero>

			<section>
				<div class="section-title-wrapper">
					<h2 class="section-title">Présentation</h2>
				</div>
				<div class="content">
					<p>
						Mathis Beugnet, 19 ans, étudiant en BTS SIO option SLAM. 
						Passionné par le développement web et applicatif, je cherche à intégrer une équipe dynamique 
						pour développer mes compétences et relever de nouveaux défis.
					</p>
				</div>
			</section>

			<section>
				<div class="section-title-wrapper">
					<h2 class="section-title">Formation</h2>
				</div>
				<div class="content">
					<p>
						BTS SIO option SLAM en cours • Bac Général (Mathématiques, NSI) • 
						Projets : applications web, bases de données • Certification Secnum (cybersécurité)
					</p>
				</div>
			</section>

			<section>
				<div class="section-title-wrapper">
					<h2 class="section-title">Compétences</h2>
				</div>
				<div class="content">
					<p>
						Langages : SQL, HTML, CSS, PHP, JavaScript, C# • 
						Modélisation : UML, Merise • 
						Outils : Git, Trello • 
						Systèmes : Windows, Linux
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>
<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.section-title-wrapper {
	display: flex;
	align-items: center; /* Centre verticalement */
	justify-content: flex-start; /* ou center pour horizontal aussi */
	height: 100%; /* prend toute la hauteur du grid-row */
	grid-column-start: 1;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
